@charset "utf-8";

* {
  margin: 0;
  padding: 0;
}
body {
  background: #f9f9f9;
  font-family: "Courier New", Courier, monospace;
  color: black;
}

table {
  width: auto;
  font-weight: bolder;
  color: #999;
}
table,
td,
th {
  border-collapse: collapse;
  border: solid #d0d0d0 1px;
  padding: 20px;
}
